@font-face {
  font-family: 'Montserrat Regular';
  font-display: auto;
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue Bold';
  font-display: auto;
  src: url('../fonts/BebasNeueBold.eot');
  src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@mixin reg {
  font-family: 'Montserrat Regular', sans-serif;
}
@mixin bebas {
  font-family: 'Bebas Neue Bold', sans-serif;
}